doctype html(lang='en')
head
    meta(charset='UTF-8')

    title The Elements - #{element}
    style
      include css/styles.css
  body
    h1= element

    h2= elementSymbol

    h3= elementAtomicNumber

    p= elementDescription

    p
      a(href='/') back